/* 
Desktop 1200px
Tablet 992px
smartphone 768px 
old device 576px
*/
/* Responsive design for desktop */
@media (max-width:992px) {
    .container{
        width: 95%;
        margin: 0 auto;
    }
    .logo a{
        padding-left: 0;
    }
    .menu{
        display: none;
    }
    #menu-bar{
        display: block;
    }
    .about{
        margin: 20px;
        height: auto;
    }
    .about-content{
        flex-direction: column;
    }
    .about-img{
        width: 90%;
        height: auto;
    }
    .about-img img{
        width: 100%;
        height: auto;
    }
    .about-info{
        padding-left: 0;
        padding-top: 20px;
    }
    .about-list{
        flex-direction: column;
        padding-bottom: 10px;
    }
    .footer-content p{
        margin-bottom: 20px;
    }
    .social-link{
        margin-bottom: 20px;
    }
    .services{
        height: auto;
    }
    .service-content{
        gap: 20px;
    }
    .service-box{
        width: 47%;
    }
    .portfolio-img img{
        width: 48%;
    }
}

/* Responsive design for tablet */
@media (max-width:768px) {
    .banner-content h1{
        font-size: 45px;
        font-weight: bolder;
        line-height: 50px;
        text-align: center;
    }
    .banner-content h2{
        text-align: center;
    }
    .about-img{
        width: 100%;
        height: auto;
    }
    .contact-content{
        flex-direction: column;
        justify-content: center;
    }
    .contact-address{
        width: 100%;
    }
    .contact-form{
        width: 100%;
    }
    .contact-form{
        padding: 20px 30px;
    }
    .form button{
        text-align: center;
    }
    .portfolio-img img{
        width: 90%;
        height: 400px;
    }
}

/* Responsive design for phone */
@media (max-width: 576px) {
    .service-content{
        flex-direction: column;
        gap: 20px;
    }
    .service-box{
        width: 100%;
    }
    .portfolio-img img{
        width: 95%;
        height: 350px;
    }
}