/* 
Desktop 1200px
Tablet 992px
smartphone 768px 
old device 576px
*/
/* Responsive design for desktop */
@media (max-width:992px) {
    .container{
        width: 95%;
        margin: 0 auto;
    }
    .logo a{
        padding-left: 0;
    }
    .menu{
        display: none;
    }
    #menu-bar{
        display: block;
    }
}

/* Responsive design for tablet */
@media (max-width:768px) {
    .banner-content h1{
        font-size: 45px;
        font-weight: bolder;
        line-height: 50px;
        text-align: center;
    }
    .banner-content h2{
        text-align: center;
    }
}

/* Responsive design for phone */
@media (max-width: 576px) {
    
}